:root {
  --clr-1: #191919;
  --clr-2: #191919;
  --clr-3: #191919;
  --clr-4: #191919;
  --clr-5: #FFDF70;
}

body {
    background-color: black;
}

.container {
    position: absolute;
    height: 100vh;
    overflow-x: hidden;
    width: 100%;
}

#title {
  display: flex;
  justify-content: center;
  margin-top: 35vh;
}

#aboutme-content {
  display: block;
  margin-left: 25vh;
}

#aboutme-title {
  position: relative;
  color: white;
  font-size: 50px;
  font-family: 'JetBrains Mono', monospace;
  z-index: 3;
}

#aboutme-text {
  position: relative;
  color: white;
  font-size: 20px;
  font-family: 'JetBrains Mono', monospace;
  z-index: 3;
}
  
#project-container {
  display: block;
  position: relative;
  margin-left: 25vh;
  margin-right: 25vh;
  margin-top: 40vh;
  margin-bottom: 10vh;
}

#project-title {
  position: relative;
  color: white;
  font-size: 50px;
  font-family: 'JetBrains Mono', monospace;
  z-index: 3;
}

#hero-card {
  position: relative;
  background-color: #191919;
  width: 100%;
  height: 500px;
  margin-top: 20px;
  border-radius: 5px;
  z-index: 3;
}

.card {
  position: relative;
  background-color: #191919;
  width: 100%;
  height: 500px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 4;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


.card:hover:before {
    content: "";
    position: absolute;
    inset: -1px;
    z-index: -1;
    background: conic-gradient(
      from var(--gradient-angle),
      var(--clr-3),
      var(--clr-4),
      var(--clr-5),
      var(--clr-4),
      var(--clr-3)
    );
    border-radius: inherit;
    animation: rotation 3s linear infinite;
  }

  @keyframes rotation {
    0% {
      --gradient-angle: 0deg;
    }
    100% {
      --gradient-angle: 360deg;
    }
  }  

.card-content {
  background-color: #191919;
  border-radius: inherit;
  inset: 1px;
  padding: 1em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}

.card-content:hover {
  background-color: #222222;
  border-radius: inherit;
  inset: 1px;
  padding: 1em;
  position: absolute;
  z-index: 3;
}

#card-1 {
  grid-area: card-1; 
}

#card-2 {
  grid-area: card-2;
}

#card-3 {
  grid-area: card-3;
}

#card-4 {
  grid-area: card-4;
}

#hero-project-image {
  height: 421px;
  position: relative;
  display: block;
  border-radius: 5px;
  margin-top: 7px;
}

#hero-card-title {
  position: relative;
  color: white;
  font-size: 30px;
  font-family: 'JetBrains Mono', monospace;
}

#hero-card-container {
display: inline-flex;
}

#card-container {
  display: grid;
  grid-template-areas: 'card-1 card-2'
  'card-3 card-4';
  gap: 10px;
  margin-top: 10px;
}

#hero-text-container {
  margin-top: 46.5px;
  margin-left: 10px;
}


#hero-card-subtitle {
  position: relative;
  width: 95%;
  color: white;
  font-size: 20px;
  font-family: 'JetBrains Mono', monospace;
}

#hero-card-p {
  position: relative;
  width: 95%;
  color: white;
  font-size: 15px;
  font-family: 'JetBrains Mono', monospace;
}

.project-image {
  width: 100%;
  position: relative;
  display: block;
  border-radius: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.card-title {
  position: relative;
  width: 95%;
  color: white;
  font-size: 30px;
  font-family: 'JetBrains Mono', monospace;
}

.card-subtitle {
  position: relative;
  width: 95%;
  color: white;
  font-size: 20px;
  font-family: 'JetBrains Mono', monospace;
}

.card-p {
  position: relative;
  width: 95%;
  color: white;
  font-size: 15px;
  font-family: 'JetBrains Mono', monospace;
}

#contactme-container {
  display: block;
  position: relative;
  margin: 25vh;
}

#contactme-title {
  position: relative;
  color: white;
  font-size: 50px;
  padding-bottom: 20px;
  font-family: 'JetBrains Mono', monospace;
  z-index: 3;
}

#contactme-nav {
  color: #76766D;
  font-size: 20px;
  font-family: 'JetBrains Mono', monospace;
  list-style: none;
  padding: 50px;
  z-index: 3;
  width: 100vw;
  display: flex;
  position: fixed;
  bottom: 0px;
  justify-content: space-around;
  align-items: center;
}

.contact-link:hover {
  cursor: pointer;
  color: white;
}

.navigator {
  transition: transform 0.3s ease-in-out;
}

.navigator.open {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 400px;
  background-color: #333;
  color: #fff;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  z-index: 5;
}

.navigator.closed {
  display: none;
  transition: transform 0.3s ease-in-out;
}
  
  .navigator ul {
    list-style: none;
    padding: 0;
    margin: 20px;
    margin-top: 100px;
  }
  
  .navigator ul li {
    margin-bottom: 15px;
  }
  
  .navigator ul li a {
    text-decoration: none;
    color: #76766D;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'JetBrains Mono', monospace;
  }

  .navigator ul li a:hover {
    text-decoration: none;
    color: white;
    transition: 0.5s;
  }

  .navigator ul li button {
    text-decoration: none;
    color: #76766D;
    font-size: 30px;
    background-color: transparent;
    border: none;
    font-family: 'JetBrains Mono', monospace;
    padding: 0px;
    position: relative;
    z-index: 4;
  }

  .navigator ul li button:hover {
    text-decoration: none;
    color: white;
    transition: 0.5s;
    cursor: pointer;
  }

  #P1 {
    position:absolute;
    transform-origin: top;
    transform: translate3d(0%, -120%, 0);
    transition: transform 0.4s ease-in-out, opacity 0.3s;
    opacity: 0;
    z-index: 3;
}

#P2 {
  position:absolute;
  transform-origin: top;
  transform: translate3d(0%, -120%, 0);
  transition: transform 0.5s ease-in-out, opacity 0.3s;
  opacity: 0;
  z-index: 3;
}

#P3 {
  position:absolute;
  transform-origin: top;
  transform: translate3d(0%, -120%, 0);
  transition: transform 0.6s ease-in-out, opacity 0.3s;
  opacity: 0;
  z-index: 3;
}

#P1.dropdown-visible {
  transform: translate3d(0, 0, 0);
    opacity: 1;
}

#P2.dropdown-visible {
  transform: translate3d(0, 130%, 0);
    opacity: 1;
}

#P3.dropdown-visible {
  transform: translate3d(0, 260%, 0);
    opacity: 1;
}


  .icon {
      background-color: transparent;
      border: none;
      cursor: pointer;
      height: 60px;
      outline: none;
      padding: 0px;
      width: 100px;
      position: fixed;
      right: 10px;
      top: 10px;
      z-index: 6;

      &.toggled {
        #navicon {
          background-color: transparent;
          
          &:before {
            top: 0px;
            transform: rotate(-45deg);
          }
          
          &:after {
            bottom: 0px;
            transform: rotate(45deg);
          }
        }
      }
}


#navicon {
    background-color: white;
    border-radius: 100px;
    height: 6px;
    position: relative;
    transition: all 0.25s;
    width: 60px;
    z-index: 5;

    &:before,
    &:after {
      background-color: white;
      border-radius: 100px;
      content: "";
      height: 6px;
      left: 0px;
      position: absolute;
      transition: all 0.25s;
      width: 60px;
    }
    
    &:before {
      top: -20px;
    }
    
    &:after {
      bottom: -20px;      
    }
  }



#blob1 {
  background-color: white;
  height: 30vmax;
  aspect-ratio: 3/2;
  position: absolute;
  rotate: 20deg;
  right: 0;
  top: 0;
  translate: 20% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, #1DEBF4, #FFDF70);
  opacity: 0.8;
}

#blob2 {
  background-color: white;
  height: 15vmax;
  aspect-ratio: 3/2;
  position: absolute;
  rotate: 90deg;
  right: 0;
  top: 0;
  translate: 40% 80%;
  border-radius: 50%;
  background: #FFDF70;
  opacity: 0.5;
}

#blob3 {
  background-color: white;
  height: 15vmax;
  aspect-ratio: 5/2;
  position: absolute;
  rotate: 320deg;
  right: 0;
  top: 0;
  translate: -40% -50%;
  border-radius: 50%;
  background: #10B8BF;
  opacity: 0.7;
}

#blob4{
  background-color: white;
  height:10vmax;
  aspect-ratio: 4/2;
  position: absolute;
  rotate: 20deg;
  left: 0;
  top: 0;
  translate: 100% -40%;
  border-radius: 50%;
  background: #FFDF70;
  opacity: 0.9;
}

#blob5{
  background-color: white;
  height: 35vmax;
  aspect-ratio: 3/2;
  position: absolute;
  rotate: 120deg;
  left: 0;
  top: 0;
  translate: -30% -60%;
  border-radius: 50%;
  background: #FF5055;
  opacity: 0.6;
}

#blob6{
  background-color: white;
  height: 15vmax;
  aspect-ratio: 3/2;
  position: absolute;
  rotate: 80deg;
  left: 0;
  top: 0;
  translate: -50% 80%;
  border-radius: 50%;
  background: #B4F0F0;
  opacity: 0.8;
}

#blob7{
  background-color: white;
  height: 25vmax;
  aspect-ratio: 4/2;
  position: absolute;
  rotate: 50deg;
  left: 0;
  top: 0;
  translate: 100% 150%;
  border-radius: 50%;
  background: #9528FF;
  opacity: 0.8;
}

#blob8{
  background-color: white;
  height: 25vmax;
  aspect-ratio: 2/2;
  position: absolute;
  rotate: 20deg;
  left: 0;
  top: 0;
  translate: 150% 150%;
  border-radius: 50%;
  background: #FF50B9;
  opacity: 0.6;
}

#blob9{
  background-color: white;
  height: 10vmax;
  aspect-ratio: 3/2;
  position: absolute;
  rotate: 0deg;
  left: 0;
  top: 0;
  translate: 200% 340%;
  border-radius: 50%;
  background: #FF50B9;
  opacity: 0.6;
  z-index: 2;

}

#blur {
  height: 110%;
  width: 110%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  backdrop-filter: blur(6vmax);
  overflow: hidden;
}

#FirstName {
  position: relative;
  font-family: 'Ms Madi', cursive;
  font-size: 150px;
  color: white;
  left: 100px;
  bottom: 50px;
  z-index: 3;
}

#LastName {
  position: relative;
  font-family: 'JetBrains Mono', monospace;
  font-size: 150px;
  color: white;
  right: 100px;
  top: 50px;
  z-index: 3;
}

#FirstNameHeader {
  position: fixed;
  font-family: 'Ms Madi', cursive;
  font-size: 75px;
  color: white;
  left: 100px;
  top: 50px;
  z-index: 3;
}

#LastNameHeader {
  position: fixed;
  font-family: 'JetBrains Mono', monospace;
  font-size: 70px;
  color: white;
  left: 290px;
  top: 46px;
  z-index: 3;
}

.inputcontainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction:column;
  margin-left: 5px;
}

.input {
  padding: 5px 140px 5px 10px;
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
  margin: 10px;
}

.messageInput {
  padding: 5px 140px 40px 10px;
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
  margin: 10px;
}

#messagesubmitbtn {
  padding: 5px 140px 5px 10px;
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
  margin: 10px;
}

#resumecontainer {
  margin: 25vh;
}

#resume-title {
  font-family: 'JetBrains Mono', monospace;
}

.resumedownload {
  position: fixed;
  font-family: 'JetBrains Mono', monospace;
  color: #76766D;
  font-size: 15px;
}

.resumedownload:hover {
  position: fixed;
  font-family: 'JetBrains Mono', monospace;
  color: white;
  font-size: 15px;
}

#aboutme-container {
  display: flex;
  align-items: center;
  margin-top: 40vh;
}

#myphoto {
  border-radius: 50%;
  width: 300px;
  z-index: 3;
  position: relative;
  right: -500px;
}